fastapi==0.104.1
starlette==0.27.0
pydantic-core
uvicorn
sqlalchemy==2.0.23
alembic==1.12.1
psycopg2-binary==2.9.9
python-dotenv==1.0.0
pydantic==1.10.12
pytest==7.4.3
httpx==0.25.1
requests==2.31.0
coverage==6.5.0
pytest-cov==4.1.0
python-multipart==0.0.6
email-validator